/* Base stuff */
:root {
  --bg-color-primary: #333333;
  --color-primary: #ffffff;
  --unused-bg: #777;
  --used-bg: #f34040;
  --center-bg: #320be0;
  --start-bg: #fad42d;
}

body {
    background-color: var(--bg-color-primary);
    color: var(--color-primary);
}

/* DOM Objects */
#can {
    position: absolute;
    top: 12.7vh;
    left: 5vw;
    width: 90vw;
    height: 100 - 12.7vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    /* background-color: rgb(236, 212, 212); */
}
.grid-square {
    position: relative;
    display: inline-block;
    width: 2.9%;
    aspect-ratio: 1;
    margin: 0.1%;
    border: 1px solid #fff;
}


/* states */
.unused {
    background-color: var(--unused-bg);
}
.used {
    background-color: var(--used-bg);
}
.center {
    background-color: var(--center-bg);
}
.wall {
    background-color: #000;
}
.start {
    background-color: var(--start-bg);
}
